html{
    font-size:16px;
    margin:0px;
    padding:0px;
}

body {
    font-size:16px;
    margin:0px;
    padding:0px;
}

.hr {
    height: 5px;
    background-color: Black;
    width: 100%;
    border: none;
}

.bo {
    height: 5px;
    background-color: rgb(50, 50, 50);
    width: 100%;
    border: none;
    margin:0;
}

.a {
    text-decoration: none;
}

.ふぉんと {
    font-family: 'Noto Sans JP','ヒラギノ角ゴ ProN','meiryo','メイリオ', sans-serif;
    font-weight: 100;
    text-align: center;
    color: rgb(25, 25, 25);
}

.クソデカ {
    font-size: 20vh;
    font-weight: 700;
    line-height: 1.25;
}

.ふぉんと h1 {
    font-size: 10vh;
    font-weight: 700;
    line-height: 0.75;
}

.ふぉんと h2 {
    font-size: 5vh;
    font-weight: 700;
    line-height: 0.75;
}

.ふぉんと h3 {
    font-size: 3vh;
    font-weight:100;
    line-height: 1;
    margin:1vh 0;
}

.ふぉんと p {
    font-size: 2vh;
    line-height: 1;
    margin:1vh 0;
}

.pink {
    font-size: 3vh;
    font-weight: 700;
    line-height: 0.75;
    color:#ff00ff
}

.イメージカラー{
    color:#0089ff;
    font-weight: 700;
}

.イメージカラー塗りつぶし{
    background-color: #0089ff;
}

.bold{
    font-weight: 700;
}

.タイトル {
    padding-top:5.25em;
    padding-bottom:0.5em;
    background: linear-gradient(-135deg, #00ff00, #0089ff);
    text-shadow:0.5px 0 5px rgb(50, 50, 50);
    text-align: center;
    color: #FFFFFF;
}

.タイトル文字 {
    user-select: none;
    font-size:300%;
    font-weight:100;
    font-weight: bolder;
}

.バージョン {
    font-family: 'Century Gothic','Noto Sans JP','ヒラギノ角ゴ ProN','meiryo','メイリオ', sans-serif;
    font-weight: bold;
    font-style: italic;
    user-select: none;
    font-size:150%;
    font-weight: bold;
}

.ヘッダー{
    position: fixed;
    width:100%;
}

.いちばんうえのメニュー {
    display:flex;
    list-style: none;
    background: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
   }
   .いちばんうえのメニュー li {
    font-size: 3vh;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-left: 1.5em;
   }

.いちばんうえのメニュー li a {
    color: rgb(25, 25, 25);
    text-decoration: none;
}

.いちばんうえのメニュー li a:hover {
        
    color: rgb(0, 140, 255);
}

.アイコン{
    height:5em;
    margin: 0;
    padding: 0;
}

.ヘッダーのタイトル{
    color:#FFFFFF;
    font-size: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow:0.25px 0 5px rgb(50, 50, 50);
    background: linear-gradient(-135deg, #00ff00, #0089ff);
}

.ヘッダーロゴ{
    width: 4%;
    height:4%;
    padding:0.5em;
    background:#0089ff;
}

.ちょい薄{
    background: #ebebeb;
}

.いちばんしたのメニュー{
    display: flex;
    list-style: none;
    font-size: 1.25rem;
    text-transform: uppercase;
    margin-top: 25px;
    margin-bottom: 25px;
    }
    .いちばんしたのメニュー li {
        margin-left: 36px;
}

.いちばんしたのメニュー li a {
    color: rgb(25, 25, 25);
    text-decoration: none;
}

.いちばんしたのメニュー li a:hover {
        
    color: rgb(0, 140, 255);
}

.ｺﾝﾆﾁﾜ {
    display: inline-block;
    cursor: pointer;
    width: 10%;
    text-align: center;
    color:#FFFFFF;
    background-color: #4b4b4b;
    padding: 10px;
    border-radius: 5px;
}

.ｺﾝﾆﾁﾜ:hover {
    background-color: #646464;
}

.ボタン {
    display: inline-block;
    text-decoration: none;
    color: white;
    background: #0089ff;
    font-weight: bold;
    padding: 2vh 5vh;
    margin:0.5em;
    border-radius: 5px;
}

.ボタン:hover {
    background: #0070c0;
    color: #FFFFFF;
}

.画像付ボタン {
    display:inline-flex;
    text-decoration: none;
}

.画像付ボタン_文 {
    text-decoration: none;
    color: white;
    background: #0089ff;
    font-weight: bold;
    font-size:1em;
    padding:1em;
    margin:0.25em;
    border-radius:0px 5px 5px 0px;
}

.画像付ボタン_画像{
    width: 4em;
    height: 4em;
    margin:0.25em;
    border-radius:5px 0px 0px 5px;
}

.画像付ボタン_文:hover {
    background: #0070c0;
    color: #FFFFFF;
}

.縦並び用ボタン {
    display: inline-block;
    padding:0.25em 0px;
    margin:0.1em;
    width:15%;
    text-decoration: none;
    color: white;
    background: #0089ff;
    font-weight: bold;
}

.縦並び用ボタン:hover {
    background: #0070c0;
    color: #FFFFFF;
}

.縦並び用ボタン#start {
    display: inline-block;
    padding:0.25em 0px;
    margin:0.1em;
    width:15%;
    text-decoration: none;
    color: white;
    background: #0089ff;
    font-weight: bold;
    border-radius:5px 5px 0px 0px;
}

.縦並び用ボタン#start:hover {
    background: #0070c0;
    color: #FFFFFF;
}

.縦並び用ボタン#end {
    display: inline-block;
    padding:0.25em 0px;
    margin:0.1em;
    width:15%;
    text-decoration: none;
    color: white;
    background: #0089ff;
    font-weight: bold;
    border-radius:0px 0px 5px 5px;
}

.縦並び用ボタン#end:hover {
    background: #0070c0;
    color: #FFFFFF;
}

.logo {
    width:12.5%;
    display: inline-block;
    box-shadow:0px 0px 0.5em #000000;
    margin: 0px 1em;
}

.ホーム自己紹介 {
    text-align: left;
    display: inline-block;
    font-size: 100%;
}

.中央寄せの左寄せ{
    width:50%;
    text-align: left;
    margin:0 auto;
}

.PC環境{
    border-top:2px rgb(75, 75, 75) solid;
    border-bottom:2px rgb(75, 75, 75) solid;
}

.PC環境 summary{
    font-size: 3vh;
    line-height: 6vh;
    padding:0 0.5em;
}

.PC環境#start{
    border-top:4px rgb(75, 75, 75) solid;
    border-bottom:2px rgb(75, 75, 75) solid;
}

.PC環境#end{
    border-top:2px rgb(75, 75, 75) solid;
    border-bottom:4px rgb(75, 75, 75) solid;
}

.日記のための背景 {
    background: linear-gradient(-135deg, #00ff00, #0089ff);
}

.戻る{
    background:#0089ff ;
    border-radius:0 0 0.5em 0;
    color:#FFFFFF;
    margin-right:88.6%;
    text-align: left;
    font-size: 2.5vh;
    font-weight: 700;
    text-decoration: none;
}

.デスクトップ背景配布ページ{
    width:90vw;
}

.デスクトップ背景{
    width:290px;
    box-shadow:0 0 0.5em #000000;
}

.過去バージョン作成日{
    margin-left:0.5em;
    font-size:1em;
}

.対応機種{
    border-collapse: collapse;
    margin:0px auto;
}

.対応機種 td{
    border:4px solid #4b4b4b;
    padding:0.5em;
    margin:0px;
}

.red{
    color:#ff0000;
    font-weight: bold;
}

.yellow{
    color:#ffdd00;
    font-weight: bold;
}

.blue{
    color:#0000ff;
    font-weight: bold;
}

.td空白{
    border:none;
}

#ウクライナ{
    padding:1em 0px;
    background:linear-gradient(to bottom,#3b76c5 50%,#fadf17 50%);
    width:50%;
    border-radius: 1em;
    margin:0px auto;
}