body{
    background:#323232;
    color:#fff;
    font-family: 'BIZ UDPゴシック','ヒラギノ角ゴ ProN','メイリオ','Meiryo UI',sans-serif;
}

#title{
    display: block;
    margin:auto;
    width:50vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

#maintitle{
    font-size:7vh;
    font-weight: bold;
    line-height: 200%;
    text-align: center;
}

#subtitle{
    font-size:2vh;
    font-weight:normal;
    text-align: center;
}

#main{
    display: none;
    margin:auto;
    width:50vw;
}

#pasta{
    margin-top:5vh;
    line-height: 250%;
}

.pasta_button{
    font-family: 'BIZ UDPゴシック','ヒラギノ角ゴ ProN','メイリオ','Meiryo UI',sans-serif;
    text-align: center;
    font-size:3vh;
    background:#0089ff;
    color:#fff;
    user-select: none;
    border:none;
    border-radius: 1vh;
    padding:1em 3vh;
    margin:4em auto 1em;
    width:100%;
}

.pasta_button:hover{
    background:#0060b5;
    cursor: pointer;
}

.pasta_button:active{
    background:#0050b5;
}

#pasta_search{
    font-size:3vh;
    font-weight: bold;
}