body {
    font-family:'メイリオ','meiryo',sans-serif;
    background-color:#f6f5f4;
}
 
a{
  text-decoration: none;
}

a:hover{
  text-decoration:underline;
}

#wrapper {
  width: 1000px;
  margin: 0 auto;
}

.wrapper{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 1200px;
  margin: 0 auto;
  padding: 60px;
}

.めいん {
  width: 90%;
  background-color:#ffffff;
  padding:20px;
  margin:50px 0px 20px 0px;
  border:1px solid #a7d7f9;
}

.めいん p {
  margin:5px;
}

.めいん h3 {
  font-size:17px;
  font-weight:bold;
}

.めいん h4 {
  font-size:17px;
  font-weight:bold;
  margin:10px;
}

.さいど {
  width:10%;
  height:300px;
  background-color:#f6f6f6;
  padding:20px;
} 

.目次 {
  width:35%;
  background-color: #f8f9fa;
  padding:5px;
  margin:10px 20px;
  border:1px solid #a2a9b1;
}
 
.左のやつ {
  width:30%;
  background-color: #f8f9fa;
  padding:5px;
  margin:10px 20px;
  border:1px solid #a2a9b1;
  float: right;
  font-size: 88%;
}

.赤 {
  background-color:#b50000;
}

.表 {
  padding: 5px;
  margin:10px;
  border: 1px solid #a2a9b1;
  border-collapse: collapse;
  text-align: center;
  font-size: small;
  display:inline-table;
}


td,th {
  padding: 5px;
  border: 1px solid rgb(190, 190, 190);
  background-color: #f8f9fa ;
}

th {
  background-color: #eaecf0;
}

.ふらめん {
  background:#0089FF;
  border:1px solid #a9a9a9;
}

.はたねさん {
  background:#ff0000;
  border:1px solid #a9a9a9;
}

.かあくん{
  background:#00ffff;
  border:1px solid #a9a9a9;
}

.鍋キューブ {
  background:#FF2400;
  border:1px solid #a9a9a9;
}

.Alicer {
  background: #ff00ee;
  border:1px solid #a9a9a90e;
}

.ぴーこ {
  background: #fa8072;
  border:1px solid #a9a9a9;
}

.sspeed {
  background: #00ff00;
  border:1px solid #a9a9a9;
}

.みつる {
  background: #00ff00;
  border:1px solid #a9a9a9;
}

.ぽんすけ {
  background: #7f1184;
  border:1px solid #a9a9a9;
}

.枠 {
  margin: 4px;
  padding: 4px 0px;
  border: 1px solid #a2a9b1;
  background-color: #f8f9fa;
  font-size: 88%;
}

.画像 {
  border:1px solid #c8ccd1;
  padding:3px;
  font-size:16px;
  display:inline-block;
}

.content {
  background-color:#b3d874;
  width:250px;
  height:300px;
  text-align:center;
}
 
 article {
  display:flex;
}

.ろご {
  margin: 0 10 20 10;
}

.さいどの棒のやつ{
  border:solid 1px;
  border-image:radial-gradient(#c8ccd1, #f6f6f6);
  width:125px;
  box-align:center;
}

.めいんの棒のやつ{
  border-bottom:1px solid #a2a9b1;
  margin:10px 0px 5px 0px;
  padding:0px;
  border-width:90%;
  box-align:center;
  font-size:23px;
  text-align: left;
}

.タイトル{
  border-bottom:1px solid #a2a9b1;
  margin:10px 0px 5px 0px;
  padding:0px;
  border-width:90%;
  box-align:center;
  font-size:30px;
  text-align: left;
}

.右寄せ{
  text-align:right;
}